doctype html
html
    head
        title KDSL
        meta(name='viewport', content='width=device-width, initial-scale=1')
        meta(http-equiv="Content-Type",content="text/html; charset=UTF-8")
        meta(http-equiv="Cache-Control",content="no-cache, no-store, must-revalidate")
        meta(http-equiv="Pragma",content="no-cache")
        meta(http-equiv="Expires",content="0")

        link(rel='stylesheet', href='/lib/semantic/dist/semantic.min.css')
        script(src='/lib/jquery/dist/jquery.min.js')
        script(src='/lib/semantic/dist/semantic.min.js')

    body.pushable
        #app

        script(src='main.js')