﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">

    <title>@ViewData["Title"] - KSDL</title>

    @RenderSection("HeadSection", required: false)    
</head>
<body>
    @RenderBody()
    @RenderSection("Scripts", required: false)
</body>
</html>
