<template lang='jade'>
#app
  v-app#inspire
    v-navigation-drawer.grey.lighten-4(fixed='', clipped='', app='', v-model='drawer')
      v-list.grey.lighten-4(dense='')
        template(v-for='(item, i) in items')
          v-layout(row='', v-if='item.heading', align-center='', :key='i')
            v-flex(xs6='')
              v-subheader(v-if='item.heading')
                | {{ item.heading }}
            v-flex.text-xs-right(xs6='')
              v-btn(small='', flat='') edit
          v-divider.my-3(dark='', v-else-if='item.divider', :key='i')
          v-list-tile(:key='i', v-else='', @click='', :to='item.link', :href='item.href')
            v-list-tile-action
              v-icon {{ item.icon }}
            v-list-tile-content
              v-list-tile-title.grey--text
                | {{ item.text }}
    v-toolbar(color='amber', app='', absolute='', clipped-left='')
      v-toolbar-side-icon(@click.native='drawer = !drawer')
      span.title.ml-3.mr-5
        | KSDL 
        span.text Workspace
      // v-text-field(solo-inverted='', flat='', label='Search', prepend-icon='search')
      v-spacer
    v-content
        v-container(fluid)
          v-fade-transition(mode='out-in')
            router-view
</template>

<script lang="ts">
import Vue from 'vue';
import { Component, Prop } from 'vue-property-decorator';

import router from "./router";
import VueEngine from '@iyu/VueEngine';

@Component({
  name: "App",
  router: router
})
export default class extends Vue {
  drawer = null;
  items: Array<object> = [];

  @Prop({type: String, default: ""})
  source: string = "";

  created() {
    VueEngine.UI.setVM('App', this);

    this.items = [
      { icon: 'home', text: '대시보드', link: '/' },
      { icon: 'note', text: '기공 의뢰서', link: '/dent-request' },
      { divider: true },
      { icon: 'perm_identity', text: '내 정보', link: '/my-settings' },
      { icon: 'help', text: '도움말' },
      { icon: 'exit_to_app', text: '로그아웃', href: '/account/logout' }
        // { icon: 'lightbulb_outline', text: 'Notes' },
        // { icon: 'touch_app', text: 'Reminders' },
        // { divider: true },
        // { heading: 'Labels' },
        // { icon: 'add', text: 'Create new label' },
        // { divider: true },
        // { icon: 'archive', text: 'Archive' },
        // { icon: 'delete', text: 'Trash' },
        // { divider: true },
        // { icon: 'settings', text: 'Settings' },
        // { icon: 'chat_bubble', text: 'Trash' },
        // { icon: 'help', text: 'Help' },
        // { icon: 'phonelink', text: 'App downloads' },
        // { icon: 'keyboard', text: 'Keyboard shortcuts' }
      ];
  }
  
  logout() {
    try {
      document.execCommand("ClearAuthenticationCache");
    } catch (e) {}
    //document.location.replace("/account/logout");
    var url = `${document.location.origin}/account/logout`;
    document.location.replace(url);
  }
}
</script>

<style lang='stylus'>
@import '~@common/stylus/vuetify'
</style>
