v-layout(column,align-horiz-center)
    v-container(fluid, grid-list-md)
        v-tabs
            v-tab 치과기공물제작의뢰서
            v-tab-item
                v-layout(column,grow)
                    //- v-flex(xs12)
                    //-     v-card
                    //-         v-card-title
                    //-             h3 검색

                    v-flex(xs12)
                        v-card
                            v-card-title(v-model='selectedDocuments',select-all)
                                v-data-table.iyu.w-100.elevation-1(:headers="headers", :items="documents")
                                    template(slot='items',slot-scope='props')
                                        td {{props.item.orderDate | onlyDate}}
                                        td {{props.item.requestDate | onlyDate}}
                                        td {{props.item.patientSex}}
                                        td {{props.item.patientAge}}
                                        td {{props.item.patientName}}
                            v-card-actions
                                v-btn(@click='newDocument') 새 의뢰서 작성

    v-layout(row,justify-center)
        v-dialog(v-model="documentDialog",fullscreen,hide-overlay,transition="dialog-bottom-transition",scrollable)
            v-card
                v-card-row
                    v-toolbar(light)
                        v-btn(icon,@click.native="documentDialog=false",light)
                            v-icon close
                        v-toolbar-title 치과기공물제작의뢰서
                
                v-card-row
                    v-container(fluid, grid-list-md)
                        v-layout(column,grow)
                            v-flex(xs12)
                                v-card
                                    v-card-row
                                        v-card-title
                                            h3 기본정보                                            
                                    v-card-row
                                        v-container
                                            v-form
                                                v-text-field(label='치과명', v-model='doc.hospitalName')
                                                v-menu
                                                    v-text-field(label='의뢰일자', slot='activator', readonly, v-model='doc.orderDate')
                                                    v-date-picker(v-model='doc.orderDate')
                                                v-menu.ml-2
                                                    v-text-field(label='완성일자', slot='activator', readonly, v-model='doc.requestDate')
                                                    v-date-picker(v-model='doc.requestDate')

                            v-flex(xs12)
                                v-card
                                    v-card-row
                                        v-card-title
                                            h3 환자정보                         
                                    v-card-row
                                        v-container
                                            v-form
                                                v-radio-group(row,label='성별', v-model='doc.patientSex')
                                                    v-radio(label='남자', key='남', value='남')
                                                    v-radio(label='여자', key='여', value='여')
                                                    v-spacer
                                                //- v-text-field(label='나이', v-model='doc.patientAge')
                                                v-layout
                                                    v-menu
                                                        v-text-field(label='생년월일', slot='activator', readonly, v-model='doc.patientBirthDate')
                                                        v-date-picker(v-model='doc.patientBirthDate') 
                                                    v-text-field.ml-2(label='나이', v-model='doc.patientAge')
                                                    v-spacer

                                                v-text-field(label='성명', v-model='doc.patientName')
                                                
                            v-flex(xs12)
                                v-card
                                    v-card-row
                                        v-card-title
                                            h3 치식정보      
                                    v-card-row
                                        v-container
                                            tooth-list(:item='toothItems')
                
                v-card-actions
                    v-btn(@click.native="executeOkCommand",color='primary') Ok
                    v-btn(@click.native="executeCancelCommand") Cancel

    .busy-panel(v-if="isBusy")
        v-progress-circular.blue--text(indeterminate,:size="70",:width="7")