<template lang='jade'>
.pushable
    .pusher
        .ui.inverted.vertical.masthead.center.aligned.segment
            .ui.container

            .ui.text.container
                h1.ui.inverted.header Smart Dental Lab
                h3 포털에 오신걸 환영합니다.

            .ui.two.clumn.centered.grid
                .row
                    .column.center.aligned.segment
                        .ui.huge.primary.button(onclick='location.href="/app";')
                            span App Start!
                            i.right.arrow.icon
                .row.centered
                    .comun
                        .ui.huge.button(onclick='location.href="/publish/publish.html";')
                            span Desktop App Download
                            i.right.arrow.icon

                    .comun
                        .ui.huge.button(onclick='alert("준비중입니다.");')
                            span Mobile App Download
                            i.right.arrow.icon
</template>

<script lang="ts">

import jquery from '@lib/jquery/dist/jquery.min.js';
import semantic from '@lib/semantic/dist/semantic.min.js';

import Vue from 'vue';
import Component from 'vue-class-component';

@Component({})
export default class extends Vue {
}
</script>

<style scoped lang='stylus'>
.masthead
	&.segment
		min-height 700px

	h1.ui.header
		margin-top: 3em;
		margin-bottom: 0em;
		font-size: 4em;
		font-weight: normal;
</style>