v-layout
    v-list
        v-list-tile(v-for='item in items',:key="item._key",@click='')
            span {{ item.display }}
        v-list-tile
            v-btn(icon,@click='addNewItem')
                v-icon add

    v-dialog(v-model="dialog",hide-overlay,transition="dialog-bottom-transition")
        v-stepper(v-model='e1', vertical='')
            v-stepper-step(:complete='e1 > 1', step='1')
                | 치식
                small 기공물 의뢰할 치식을 선택하세요
            v-stepper-content(step='1')
                v-card.mb-5(color='grey lighten-1', height='200px')
                    v-container
                        v-layout(column)
                            v-layout(row)
                                v-checkbox(label='18',v-model='newItem.toothNumbers.n18')
                                v-checkbox(label='17',v-model='newItem.toothNumbers.n17')
                                v-checkbox(label='16',v-model='newItem.toothNumbers.n16')
                                v-checkbox(label='15',v-model='newItem.toothNumbers.n15')
                                v-checkbox(label='14',v-model='newItem.toothNumbers.n14')
                                v-checkbox(label='13',v-model='newItem.toothNumbers.n13')
                                v-checkbox(label='12',v-model='newItem.toothNumbers.n12')
                                v-checkbox(label='11',v-model='newItem.toothNumbers.n11')
                                v-divider.ma-2(vertical)
                                v-checkbox(label='21',v-model='newItem.toothNumbers.n21')
                                v-checkbox(label='22',v-model='newItem.toothNumbers.n22')
                                v-checkbox(label='23',v-model='newItem.toothNumbers.n23')
                                v-checkbox(label='24',v-model='newItem.toothNumbers.n24')
                                v-checkbox(label='25',v-model='newItem.toothNumbers.n25')
                                v-checkbox(label='26',v-model='newItem.toothNumbers.n26')
                                v-checkbox(label='27',v-model='newItem.toothNumbers.n27')
                                v-checkbox(label='28',v-model='newItem.toothNumbers.n28')
                            v-divider
                            v-layout(row)
                                v-checkbox(label='48',v-model='newItem.toothNumbers.n48')
                                v-checkbox(label='47',v-model='newItem.toothNumbers.n47')
                                v-checkbox(label='46',v-model='newItem.toothNumbers.n46')
                                v-checkbox(label='45',v-model='newItem.toothNumbers.n45')
                                v-checkbox(label='44',v-model='newItem.toothNumbers.n44')
                                v-checkbox(label='43',v-model='newItem.toothNumbers.n43')
                                v-checkbox(label='42',v-model='newItem.toothNumbers.n42')
                                v-checkbox(label='41',v-model='newItem.toothNumbers.n41')
                                v-divider.ma-2(vertical)
                                v-checkbox(label='31',v-model='newItem.toothNumbers.n31')
                                v-checkbox(label='32',v-model='newItem.toothNumbers.n32')
                                v-checkbox(label='33',v-model='newItem.toothNumbers.n33')
                                v-checkbox(label='34',v-model='newItem.toothNumbers.n34')
                                v-checkbox(label='35',v-model='newItem.toothNumbers.n35')
                                v-checkbox(label='36',v-model='newItem.toothNumbers.n36')
                                v-checkbox(label='37',v-model='newItem.toothNumbers.n37')
                                v-checkbox(label='38',v-model='newItem.toothNumbers.n38')
                v-btn(color='primary', @click='e1 = 2') 다음
                v-btn(flat='', @click.native='cancelDialog') 취소
            v-stepper-step(:complete='e1 > 2', step='2') 기공종목 및 재료
            v-stepper-content(step='2')
                v-card.mb-5(color='grey lighten-1')
                    v-container
                        v-layout(column)
                            v-select(:items='selectorItemsLv1', v-if='selectorItemsLv1.length > 0', return-object, v-model='selectItemLv1')
                            v-select(:items='selectorItemsLv2', v-if='selectorItemsLv2.length > 0', return-object, v-model='selectItemLv2')
                            v-select(:items='selectorItemsLv3', v-if='selectorItemsLv3.length > 0', return-object, v-model='selectItemLv3')
                            v-select(:items='selectorItemsLv4', v-if='selectorItemsLv4.length > 0', return-object, v-model='selectItemLv4')
                            v-select(:items='selectorItemsLv5', v-if='selectorItemsLv5.length > 0', return-object, v-model='selectItemLv5')
                            v-select(:items='selectorItemsLv6', v-if='selectorItemsLv6.length > 0', return-object, v-model='selectItemLv6')
                            v-select(:items='selectorItemsLv7', v-if='selectorItemsLv7.length > 0', return-object, v-model='selectItemLv7')
                            
                v-btn(@click='e1 = 1') 이전
                v-btn(color='primary', @click='e1 = 3') 다음
                v-btn(flat='', @click.native='cancelDialog') 취소
            v-stepper-step(:complete='e1 > 3', step='3') Shade
            v-stepper-content(step='3')
                v-card.mb-5(color='grey lighten-1')
                    v-container
                        v-layout(column)
                            v-select(:items='shadeItems', v-model='selectedShadeItem')
                            v-textarea(label='', v-model='shadeText')
                            //- v-text-field(prepend-icon='attach_file', single-line, v-model='shapeFileName')
                            input(type='file')

                v-btn(@click='e1 = 2') 이전
                v-btn(color='primary', @click='e1 = 4') 다음
                v-btn(flat='', @click.native='cancelDialog') 취소
            v-stepper-step(:complete='e1 > 4', step='4') Occlusal Design
            v-stepper-content(step='4')
                v-card.mb-5(color='grey lighten-1')
                    v-container
                        v-layout(column)
                            v-select(:items='occlusalDesignItems', v-model='selectedOcclusalDesignItem')
                v-btn(@click='e1 = 3') 이전
                v-btn(color='primary', @click='e1 = 5') 다음
                v-btn(flat='', @click.native='cancelDialog') 취소                
            v-stepper-step(:complete='e1 > 5', step='5') 기타
            v-stepper-content(step='5')
                v-card.mb-5(color='grey lighten-1', height='200px')
                    v-container
                        v-layout(column)
                            v-select(:items='etcItems', v-model='selectedEtcItem')
                v-btn(@click='e1 = 4') 이전
                v-btn(color='primary', @click='e1 = 6') 다음
                v-btn(flat='', @click.native='cancelDialog') 취소
            v-stepper-step(step='6') 메모
            v-stepper-content(step='6')
                v-card.mb-5(color='grey lighten-1', height='200px')
                    v-container
                        v-layout
                            v-textarea(label='메모', v-model='memo')
                v-btn(@click='e1 = 5') 이전
                v-btn(color='primary', @click='okDialog') 완료
                v-btn(flat='', @click.native='cancelDialog') 취소                
                


    //- v-btn.m-element(v-for='item in items',:key="item._key",@click.native='selectView(item)')    
    //-     span {{ item.name }}

    //- .m-element.elevation-2.iyu.flex.child-center
    //-     v-btn.teal--text(icon,fab,outline,@click.native='newViewDialog()')
    //-         v-icon add