<template lang='jade'>.root
    .ui.middle.aligned.grid.child
        .column
            .ui.center.aligned.page.grid
                .eight.wide.column
                    .ui.left.aligned.segment
                        h4.ui.dividing.header Register Account
                        .ui.form
                            .field
                                label(for='e-mail') E-Mail:
                                .ui.icon.input
                                    input#username(type='text', placeholder='email', name='email', :disabled="emailDisabled", v-model="email")
                                    i.mail.icon
                            .field
                                label(for='username') Username:
                                .ui.icon.input
                                    input#username(type='text', placeholder='Username', name='username', v-model="username")
                                    i.user.icon
                            .field
                                label(for='password') Password:
                                .ui.icon.input
                                    input#password(type='password', placeholder='Password', name='password', v-model="password")
                                    i.lock.icon
                            .field
                                label(for='confirmPassword') Confirm password:
                                .ui.icon.input
                                    input#password(type='password', placeholder='Confirm password', name='confirmPassword', v-model="confirmPassword")
                                    i.lock.icon                                    
                            .ui.negative.message(v-if='errors.length > 0')
                                .header some errors with your submission
                                ul.list
                                    li(v-for='error in errors') {{ error }}

                            input.ui.inverted.blue.button(type='submit', name='submit', @click='submit')

    .busy-panel(v-if="isBusy")</template><script lang='ts'>import Vue from "vue";
import Component from "vue-class-component";
import axios from 'axios';
import IyuString from '@iyu/StringExtensions';

import * as AppCore from '@models/appCore';

import VueRouter from "vue-router";
Vue.use(VueRouter);
var router = new VueRouter({
	mode: 'history',
	routes: []		
});

@Component({
	name: "App",
	router: router
})
export default class App extends Vue {
	
	isBusy: boolean = false;
	
	emailDisabled: boolean = true;

	email: string = '';
	username: string = '';
	password: string = '';
	confirmPassword: string = '';

	errors: Array<string> = [];

	mounted() {
		if (this.$route.query.oauthKey == undefined) {
			this.email = this.$route.query.email;
		}
		else {
			this.emailDisabled = false;                
		}
	}
	
	validation(): boolean {
		this.errors = [];

		if (IyuString.IsNullOrEmpty(this.email)) {
			this.errors.push('required - email');
		}
		if (IyuString.IsNullOrEmpty(this.username)) {
			this.errors.push('required - username');
		}
		if (IyuString.IsNullOrEmpty(this.password)) {
			this.errors.push('required - password');
		}
		if (this.password != this.confirmPassword) {
			this.errors.push('confirm passwords do not match');
		}

		return this.errors.length < 1;
	}

	submit() {
		if (this.validation()) {
			this.isBusy = true;
			
			axios.post('/account/register', {
				'token': this.$route.query.token,
				'email': this.email,
				'username': this.username,
				'password': this.password,
				'oauth': this.$route.query.oauth,
				'oauthKey': this.$route.query["oauth-key"]
			})
			.then((res) => {
				this.isBusy = false;
				document.location.replace("/app");
			})
			.catch((e) => {
				if (e.response.data.Code == AppCore.ErrorCodes.DuplicateAccount) {
					this.errors = [];
					this.errors.push('중복된 username 으로 사용 할 수 없습니다.');
				}

				this.isBusy = false;
			})
		}
	}
}</script><style scoped lang='stylus'>.root
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;

.child
    position: relative;
    top: 50%;
    transform: translateY(-50%);</style>