.root
    .ui.middle.aligned.grid.child
        .column
            .ui.center.aligned.page.grid
                .eight.wide.column
                    .ui.left.aligned.segment
                        h4.ui.dividing.header Register Account
                        .ui.form
                            .field
                                label(for='e-mail') E-Mail:
                                .ui.icon.input
                                    input#username(type='text', placeholder='email', name='email', :disabled="emailDisabled", v-model="email")
                                    i.mail.icon
                            .field
                                label(for='username') Username:
                                .ui.icon.input
                                    input#username(type='text', placeholder='Username', name='username', v-model="username")
                                    i.user.icon
                            .field
                                label(for='password') Password:
                                .ui.icon.input
                                    input#password(type='password', placeholder='Password', name='password', v-model="password")
                                    i.lock.icon
                            .field
                                label(for='confirmPassword') Confirm password:
                                .ui.icon.input
                                    input#password(type='password', placeholder='Confirm password', name='confirmPassword', v-model="confirmPassword")
                                    i.lock.icon                                    
                            .ui.negative.message(v-if='errors.length > 0')
                                .header some errors with your submission
                                ul.list
                                    li(v-for='error in errors') {{ error }}

                            input.ui.inverted.blue.button(type='submit', name='submit', @click='submit')

    .busy-panel(v-if="isBusy")