html
	overflow: hidden;

body
	StretchFit();
	Flex();

	.main
		Flex();
		FlexGrow();	
		// height: calc(100vh - 56px - 36px);
		height: calc(100vh - 48px - 36px);
		overflow-y: auto;
		overflow-x: hidden;
			
.busy-panel
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background: #3333;
	z-index: 9999;	
	display: flex;
	align-items: center;
	justify-content: center;


.iyu
	&.navigation-side
		position: inherit;
		display: flex;
		overflow: hidden;

	&.work-area
		overflow-y: auto;
		display: flex;
		flex-direction: column;
		flex-grow: 1;