StretchFit() {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	margin: 0;	
}

Flex(orientation = v) {
	display: flex;

	$direction = row;	
	if orientation == v {
		$direction = column;
	}
	flex-direction: $direction;
}

FlexGrow(grow = 1) {
	flex-grow: grow;
}

.iyu

	&.fit
		StretchFit();

	&.flex
		display: flex;
		margin: 0;
		flex: none;

		&.row
			flex-direction: row;

		&.column
			flex-direction: column;

		&.grow
			flex-grow: 1;

		&.child-center
			align-items: center;
			justify-content: center;

	&.position
		position: inherit;

	&.w-100
		width: 100%;

	&.h-100
		height: 100%;

	&.overflow
		overflow: auto;

	&.overflow-x
		overflow-x: auto;

	&.overflow-y
		overflow-y: auto;

	&.scroll-y
		overflow-y: auto;
		
.wh-100
	width: 100%;
	height: 100%;
		
/*
.flex-horizontal
	Flex(h);

.flex-fill
	FlexGrow(1);

.flex-grow
	FlexGrow(1);

.flex-grow-1
	FlexGrow(1);

.flex-center
	display: flex;
	align-items: center;

.scroll-hidden
	overflow: hidden;

.scroll-x-hidden
	overflow-x: hidden;

.scroll-y-hidden
	overflow-y: hidden;	

.f-rows
	display: flex;
	flex-direction: column;

	.f-row
		display: flex;
		flex-direction: row;
*/