<template lang='jade'>
.root(:style="{ 'background-image': backgroundImage }")
    .product-title
        h5.md-display-3 KSDL
        h5.md-display-2 The Best Smart Dental Labs

    .login-panel
        form.ui.form#login-form
            h1.ui.header Login
            .ui.divider
            .field
                label E-Mail
                input(type="text",name="email",placeholder="your-account@domain.com",v-model="email")
            .field
                label Password
                input(type="password",name="pw",placeholder="Password",v-model="pw")
            .ui.error.message  
            .field                
                .ui.primary.submit.button(@click="onLogin") Login                
                .ui.button(@click="onRegister") Register
            //- .field.flex-center
            //-     #google_id_login.ui.google.plus.button(@click="onLoginGoogle")
            //-         i.google.icon
            //-         span Google Login
            //-     #naver_id_login.ui.button(@click="onLoginNaver")
            //-         span Naver Login

    .ui.basic.small.modal(ref="registerModal")
        .ui.icon.header
            i.address.card.outline.icon
            span Register
        .content
            .ui.form
                .field
                    label E-Mail address
                    input(type="text",name="email",placeholder="your-account@domain.com",v-model="email")
            .ui.center.aligned
                span 위 메일 주소로 서비스 등록 링크가 전달됩니다.
        .actions
            .ui.red.basic.cancel.inverted.button
                i.remove.icon
                span Cancel
            .ui.green.ok.inverted.button
                i.checkmark.icon
                span OK

    .ui.mini.modal(ref="messageModal")
        .header {{ messageHeader }}
        .content {{ messageContent }}
        
    .busy-panel(v-if="isBusy")
        .ui.active.dimmer
            .ui.massive.loader
</template>
<script lang='ts' src="./App.ts">
</script>
<style lang='stylus'>
#naver_id_login
    background-color: #3EAF0E;
    color: white;
</style>