@import('/lib/semantic/dist/semantic.min.css')

// @import '@common/stylus/layout.styl'
// @import '@common/stylus/typography.styl'
// @import '@common/stylus/app.styl'
@import '../../common/stylus/layout.styl'
@import '../../common/stylus/typography.styl'
@import '../../common/stylus/app.styl'

body
	background-color #222

.root
	position fixed
	left 0
	right 0
	top 0
	bottom 0
	background-repeat no-repeat
	background-size cover

.product-title
	position fixed
	left 50px
	bottom 50px		
	color white

.login-panel
	min-width 360px
	position fixed
	right 0
	top 0
	bottom 0
	background-color #FFFC
	display flex
	align-items center

	#login-form
		width 100%
		margin 10px