v-card
    v-card-row
        v-container
            v-form
                v-text-field(v-model='accountInfo.hospitalName', label='치과명')
                v-text-field(v-model='accountInfo.hospitalPhoneNumber', label='치과 전화번호')

    v-card-actions
        v-btn(@click.native="executeOkCommand",color='primary') Ok
        v-btn(@click.native="executeCancelCommand") Cancel

    .busy-panel(v-if="isBusy")
        v-progress-circular.blue--text(indeterminate,:size="70",:width="7")