<template lang='jade'>
  .app
    Home
</template>

<script lang="ts">
import Vue from 'vue';
import Component from 'vue-class-component';

import Home from './Home.vue';

@Component({
  components: {
    Home,
  }
})
export default class extends Vue {
}
</script>

<style lang='stylus'>
@import '~vuetify/src/stylus/main'  
</style>
