.card
	&.section-back
		margin-bottom: 50px;

	&.section-front
		top: 24px;
		margin-top: -24px;

	// v-card.section-back.indigo
	// 	v-card-text.pa-3
	// 		v-card.section-front
	// 			v-card-text hello